# Pyrogram y su dependencia de rendimiento para encriptación
Pyrogram==2.0.106
Tgcrypto

# [SOLUCIÓN DEFINITIVA] Usar una versión MODERNA de motor compatible con Python 3.10+
# y dejar que instale su propia dependencia de pymongo.
motor>=3.1.1

# Carga de variables de entorno desde el archivo .env
python-dotenv==1.0.0

# Descargador principal de video/audio
yt-dlp==2023.11.16

# Para la API de Spotify (búsqueda de metadatos de música)
spotipy==2.23.0

# Dependencia para descargas genéricas
requests==2.31.0