# Pyrogram y su dependencia de rendimiento para encriptación
Pyrogram==2.0.106
Tgcrypto

# Interacción con MongoDB (asíncrona)
motor>=3.1.1

# Carga de variables de entorno desde el archivo .env
python-dotenv==1.0.0

# [ACTUALIZACIÓN] Descargador principal de video/audio a una versión más reciente
# para evitar bloqueos de YouTube.
yt-dlp==2024.04.09

# Para la API de Spotify (búsqueda de metadatos de música)
spotipy==2.23.0

# Dependencia para descargas genéricas
requests==2.31.0